includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property Spatie\\YamlFrontMatter\\Document#'

    excludePaths:
        - app/Providers/*.php
        - app/Http/Controllers/Auth/*.php
        - app/Exceptions/Handler.php  
#
#    checkMissingIterableValueType: false
